<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 order" *ngFor="let order of orders">
  
  <div class="alert" [class.alert-default]="order.Status == 0" [class.alert-info]="order.Status == 1" [class.alert-success]="order.Status == 2">
    <div class="order-number"># {{order.CustomerName}}</div>
    <div class="plate" *ngIf="order.Products">
      <div class="item" *ngFor="let product of orderedProducts(order)">
        <img [src]="product.ImageUrl">
      </div>  
    </div>
    <span>{{order.Status | statusName}}</span>
    <span class="delivery" *ngIf="order.Delivery">( Bezorging )</span>
    </div>
  </div>
  </div>
