.alert{
    font-size: 2em;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.alert span{
    font-size: .7em;
    color:black;
    display:block;
}

.alert-default{
    background-color: #efefef;
}

.delivery{
    opacity: .5;
    font-style: italic;
}