.alert{
    font-size: 2em;
        -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
}

.order-number{
    font-size: 1.2em;
}

.alert span{
    font-size: .7em;
    color:black;
    display:block;
}

.alert-default{
    background-color: #efefef;
}

.delivery{
    opacity: .5;
    position: absolute;
    top:5px;
    right:5px;
    font-style: italic;
}

.order{
    padding:10px;
}

.plate{
    margin-bottom: 4px;
    height:50px;
    border-bottom: solid 1px rgba(0,0,0,.2);    
    overflow: hidden;
}
.plate img {
    max-height:25px;
    max-width:25px;
}

.plate .item {
    display: inline-block;
    margin:1px;
    position: relative;
}