.badge {
    background-color: white;
    color: black;
}

.panel-heading{
    font-size: 2em;
    position: relative;
}
.panel-success .panel-footer, .panel-success .note{
    background-color: #dff0d8;
}

.panel-info .panel-footer, .panel-info .note{
    background-color: #d9edf7;
}
.btn-close{
float: right;
font-size: .5em;
}

.note{
    font-style: italic;
    padding:4px;
    padding-left:12px;
}

.alert{
    text-align: center;
    margin:12px;
}

.delivery{
    font-style: italic;
    font-size: .9em;
}

.list-group-item{
    padding:0;
    margin:0;
    padding-left: 12px;
    font-size:1.3em;
}

.product{
    display:flex;
    flex-direction: row;
    min-height: 40px;
    line-height: 40px;
}

.product .icon{ width: 15%;text-align: center;}
.product .qty{ width: 15%;padding-right: 4px;;text-align: right;}
.product .name{ width: 70%;white-space: nowrap;overflow: hidden;opacity: .8;}

.product img{
    max-height: 30px;
    max-width: 30px;
}

.order-number{
    position: absolute;
    bottom:5px;
    right:5px;
    font-size: .7em;
    color:black;
}